body {
  background: #e3f6f5;
  font-family: sans-serif;
}
.Container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 10px 10px #4cc5f5;
  padding: 40px;
  border-radius: 15px;
}
header {
  border-bottom: 1px solid rgb(148, 241, 246) 0%;
  padding: 0 0 30px 0;
}
.search-bar {
  background-color: rgb(227, 246, 245);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background: #0c005a;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: azure;
  margin-left: 10px;
  font-size: 16px;
}
footer {
  border-top: 1px solid rgb(148, 241, 246) 0%;
  padding: 30px 0 0 0;
  font-size: 16px;
  text-align: center;
  color: #606470;
}
.cities {
  text-align: center;
}
.cities h1 {
  font-size: 40px;
  line-height: 28px;
}
.cities p {
  color: #323643;
  font-size: 18px;
}
.weather {
  display: flex;
  justify-content: space-between;
}
.weather-details {
  color: #323643;
  font-size: 16px;
  line-height: 20px;
}
.weather-details strong {
  color: #c54c82;
}
.current-temperature {
  display: flex;
  justify-content: space-between;
}
.current-temperature-icon {
  width: 95px;
  height: 85px;
}

.current-temperature-value {
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
}

.current-temperature-unit {
  font-size: 28px;
  top: -20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
}
.weather-forecast-date {
  text-align: center;
  color: #323643;
  font-size: 18px;
  line-height: 20px;
}
.weather-forecast-icon {
  font-size: 40px;
  text-align: center;
}
.weather-forecast-temperatures {
  padding: 0 10px;
}
.weather-forecast-temperature {
  text-align: center;
  color: #c54c82;
  margin-top: 10px;
  display: block;
  justify-content: center;
}
